.list {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 40px;
}
.nav {
  display: flex;
  width: 330px;
  height: 50px;
}
.href {
  font-weight: bold;
  text-decoration: none;
  color: rgb(87, 87, 87);
  
}

.active {
  display: block;
  text-align: center;
  font-weight: bold;
  color: rgb(51, 51, 51);
  border-top: 3px solid orange;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: none;
  width: 110px;
  height: 30px;
}
